{% extends 'base.html' %}


{% block content %}
  
  <h2 style="text-align:center">Profile Username: {{ search }}</h2>

  <div class="row">
    
    <div class="col s4">
      <div class="card" style="height: 425px; overflow: hidden;">
        <div class="card-image" style="height: 250px; overflow: hidden;">
          <a href="{{ final_postings.4 }}"><img src="{{ final_postings.3 }}" alt=""></a>
        </div>
        <div class="card-content">
          <p><strong>Followers</strong>: {{ final_postings.0 }}<br>
            <strong>Following</strong>: {{ final_postings.1 }}<br>
            <strong>Posts</strong>: {{ final_postings.2 }}</p>
        </div>
        <div class="card-action">
          <a href="{{ final_postings.4 }}">View posts: </a>
        </div>
      </div>
    </div>
    
  </div>

{% endblock content  %}